@charset "UTF-8";

/* TODAS AS DEMAIS MEDIAS */

/* TYPICAL DEVICE BREAKPOINTS 
PEQUENAS TELAS: até 600px
CELULAR: de 600px até 768px
TABLET: 600px até 992px
DESKTOP: 992px até 1200px
GRANDE TELAS: acima de 1200px
*/

/* IMPRESSORA */
@media print {
    body {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 1px solid black;
        width: 90vw;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }
}

/* CELULAR */
@media screen and (max-width: 600px) and (min-width: 768px) {
    
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone {
        display: none;
    }

    #tablet { 
        display: block; 
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    main {
        width: 700px;
    }

    #phone {
        display: none;
    }

    #tablet {
        display: none;
    }

    #pc { 
        display: block; 
    }
}

/* GRANDES TELAS */
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    #phone {
        display: none;
    }

    #pc {
        display: none;
    }

    #tv { 
        display: block; 
    }
}